<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.martvey.ssc.mapper.local.JobMapper">
    <resultMap id="JobUpsert_Map" type="com.github.martvey.ssc.entity.job.JobUpsert">
        <result column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="sql_id" property="sqlId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="sql_name" property="sqlName" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="version_id" property="versionId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="version" property="version" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>
    <insert id="insertJob">
        INSERt INTO ssc_job(id, cluster_id, job_status, source_flink_config, create_time, job_name, version_id, execution_target, job_plan)
        VALUES (#{id, jdbcType=VARCHAR}, #{clusterId, jdbcType=VARCHAR},
                '${@com.github.martvey.ssc.constant.JobStatusEnum@INIT.name}',
                #{configuration, jdbcType=VARCHAR, typeHandler=com.github.martvey.ssc.convertor.handler.ConfigurationTypeHandler},
                NOW(),#{jobName, jdbcType=VARCHAR}, #{versionId, jdbcType=VARCHAR},
                #{yarnDeploymentTarget, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                #{jobPlan, jdbcType=VARCHAR, typeHandler=com.github.martvey.ssc.convertor.handler.JsonTypeHandler})
    </insert>
    <update id="updateJobStatus">
        UPDATE ssc_job
        SET job_id = #{jobID, jdbcType=VARCHAR, typeHandler=com.github.martvey.ssc.convertor.handler.JobIDTypeHandler},
            job_status = #{jobStatus, jdbcType=VARCHAR, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            flink_config = #{configuration, jdbcType=VARCHAR, typeHandler=com.github.martvey.ssc.convertor.handler.ConfigurationTypeHandler},
            rest_address = #{restAddress, jdbcType=VARCHAR}
        WHERE id = #{id}
    </update>
    <delete id="deleteJob">
        DELETE FROM ssc_job WHERE id = #{id, jdbcType=VARCHAR}
    </delete>

    <resultMap id="JobDetail_Map" type="com.github.martvey.ssc.entity.job.JobDetail">
        <result column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="cluster_id" property="clusterId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="job_status" property="jobStatus" jdbcType="VARCHAR" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result column="source_flink_config" property="sourceConfiguration" jdbcType="VARCHAR" typeHandler="com.github.martvey.ssc.convertor.handler.ConfigurationTypeHandler"/>
        <result column="flink_config" property="configuration" jdbcType="VARCHAR" typeHandler="com.github.martvey.ssc.convertor.handler.ConfigurationTypeHandler"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="job_id" property="jobID" jdbcType="VARCHAR" javaType="java.lang.String" typeHandler="com.github.martvey.ssc.convertor.handler.JobIDTypeHandler"/>
        <result column="job_name" property="jobName" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="version_id" property="versionId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="execution_target" property="yarnDeploymentTarget" jdbcType="VARCHAR" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result column="job_plan" property="jobPlan" jdbcType="VARCHAR" javaType="com.github.martvey.ssc.entity.job.JobPlanInfo" typeHandler="com.github.martvey.ssc.convertor.handler.JsonTypeHandler"/>
    </resultMap>
    <select id="getJobDetail" resultMap="JobDetail_Map">
        SELECT id, cluster_id, job_status, source_flink_config, flink_config, create_time, job_id, job_name, version_id, execution_target, job_plan
        FROM ssc_job
        WHERE id = #{id, jdbcType=VARCHAR}
    </select>
    <select id="hasVersionJob" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ssc_job
        WHERE version_id = #{versionId, jdbcType=VARCHAR}
    </select>

    <resultMap id="JobVO_Map" type="com.github.martvey.ssc.entity.job.JobVO">
        <result column="id" property="id" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="job_name" property="jobName" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="job_status" property="jobStatus" jdbcType="VARCHAR" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    </resultMap>
    <select id="listJob" resultMap="JobVO_Map">
        SELECT id, job_name, create_time, job_status
        FROM ssc_job
        ORDER BY create_time DESC
    </select>
</mapper>