server:
  port: 9704
spring:
  profiles:
    include: server
  application:
    name: ssc-metastore-server
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  mvc:
    format:
      date: yyyy-MM-dd HH:mm:ss
logging:
  level:
    com.github.martvey: debug